{% extends 'catalog/base.html' %}

{% load catalog_tags %}

{% block title %}Категории продуктов{% endblock %}

{% block content %}

    {% include 'catalog/includes/header.html' %}

    <section class="py-1 text-center container">
        <div class="row py-lg-1">
            <div class="col-lg-6 col-md-8 mx-auto"><h1 class="fw-light">Категории продуктов</h1>
                <p class="lead text-body-secondary">Смотрите подробнее о наших продуктах!</p>
                <p>
                    <a href="{% url 'catalog:product_create' %}" class="btn btn-primary my-2">Добавить продукт в каталог</a>
                    <a href="#" class="btn btn-secondary my-2">Кнопка</a>
                </p>
            </div>
        </div>
    </section>

    <h3>Список категорий продуктов:</h3>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for category in category_list %}
                <div class="col">
                    <div class="card shadow-sm h-100 d-flex flex-column">
                        <div class="card-body">
                            <p class="card-text fw-bold mb-1">{{ category.name }}</p>
                            <p class="card-text">{{ category.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'catalog:products_by_category' category.pk %}">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Посмотреть</button>
                                    </a>
                                </div>
                                <small class="text-body-secondary">Есть</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}